div{
    width:100px;
    height:100px;
    margin: 5px;
    padding: 10px;
display: inline-block;
}

div:nth-child(odd) {
    background-color: grey;
    }

    div:nth-child(2n+2){
        background-color: blue;
    }

div:nth-child(4n+4){
    background-color: green;
}

div:nth-child(2n+16){
    background-color: pink;
