body>script{
  display: none;
}
body, html {
  height: 100%;
}

body>*{
  background-color: lightgray;
  border: 1px solid darkgray;
  display: flex;
  align-items: center;
}

body{
display:grid;
    grid-template-areas:
        'h h h'
        'm m a'
        'f f f';
        grid-gap: 10px;
 grid-template-columns: auto auto 300px;
 grid-template-rows: 100px auto 100px;
}

header{
grid-area: h;
}


main{
    grid-area: m;
}

aside{
    grid-area: a;
    }

    footer{
        grid-area: f;
    }
    .menu{
        float: right;
        font-size: 20px;
            }

.float{
    float: left;
}

.clearfloat {
    clear: both;
}
